
/* 

©Felix Gramell
          2019
          :-)

Color Pallete: 
#39D7F6 - Blue
#AB1470 - Pink
#65CD21 - Green
#7D71DB - Purple
#CFBFAD - Beige
#272822 - Dark Olive

Inspired by Sublime 2
*/

@font-face {
    font-family: pixelText;
    src: url(fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf);
  }


html, body{
    overflow: hidden;
    background-color: #0f0e0f;
    margin: 0;
    font-family: "pixelText", sans-serif;
    padding-top: 10px;
    animation: startScreen 0.15s;

}
.content {
    -webkit-box-shadow: inset 0px 0px 89px -5px rgba(255,255,255,0.17);
    -moz-box-shadow: inset 0px 0px 89px -5px rgba(255,255,255,0.17);
    box-shadow: inset 0px 0px 89px -5px rgba(255,255,255,0.17);
    opacity: 0.90;
    border-radius: 60px;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    background-color:#191a16;
}

.content::before {
    box-shadow: 0px 0px 100px -10px rgba(255,255,255,0.17);
    content: '';
    display: block;
    border-radius: 60px;
    position: absolute;
    width: 50%;
    height: 77.5%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.205) 50%), linear-gradient(90deg, rgba(255, 0, 170, 0.06), rgba(0, 255, 0, 0.055), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    animation: screenFlick 0.15s infinite;
}

.content p {
    text-shadow: 0px 0px 11px rgb(235, 235, 230);
    color: #CFBFAD;
    font-size: 20px;
}

.content a{
    text-shadow: 0px 0px 11px rgb(143, 190, 137);
    color: #65CD21;
    text-decoration: none;
    font-size: 20px;
}

.content ul  {
    display: flex;
    flex-direction: row;
    text-shadow: 0px 0px 11px rgb(150, 55, 151);
    color: #AB1470;
    list-style-type: none;
    margin: auto;
    font-size: 14px;
}

.mainStuff {
    padding-top: 10px;
    width: 30%;
    margin:auto;
}

.articles {
    color: #7D71DB;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

article {
    padding-top: 25px;
}

article p {
    padding-left: 20px;
}

article li {
    padding: 30px;
    font-size: 14px;
}
.articles a {
    font-size: 16px;
}


footer {
    text-shadow: 0px 0px 11px rgb(143, 190, 137);
    color: #65CD21  ;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
} 

#scanline {
    border-radius: 50px;
    z-index: 3;
    opacity: 0.0;
    display: block;
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: white;
    animation: Scanline 60s infinite;
}


@keyframes screenFlick {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes startScreen {
    0% {
        opacity: 0;
        transform:rotate3d(0,0,0, 0deg);
    }
    100% {
        opacity: 1;
        transform: rotate3d(0,1,0, 180deg);
    }
}

@keyframes Scanline {
    0%{
        opacity: 0;
        margin-top: 0%;
    }

    49%{
        opacity: 0;
    }

    50% {
        opacity: 0.01;
        margin-top: 0%;
    }
    77% {
        opacity: 0;
    }

    80% {
        opacity: 0.00;
        margin-top: 37%;
    }

    100% {
        opacity: 0;
    }
}